* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f7f9;
  color: #0a0a0a;
}

/*header*/
.header-banner {
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
}

.header-banner h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.header-banner p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.header-button {
  background-color: #28a745;
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.header-button:hover {
  background-color: #035f0a;
}

/* Sections */
main {
  padding-left: 10rem;
  padding-right:10rem; 
  margin-top: 2rem;
  
}

.info-section {
  margin-bottom: 2rem;
}

.info-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #28a745;
}
.info-section ul {
  list-style-type: disc;
  margin-left: 2rem;
}
.process-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.step {
  background-color: var(--color);
  color: white;
  padding: 20px;
  border-radius: 16px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(11, 2, 2, 0.2);
  text-align: center;
}
.step h3 {
  margin: 10px 0 5px;
}

.arrow {
  font-size: 2rem;
  color: #926600;
  align-self: center;

}
.icon {
  font-size: 3rem;
}

.video-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #28a745;
  text-align: left;

}

.video-container {
  position: relative;
  padding-bottom: 50%; /* 16:9 ratio */
  height: 0;
  max-width: 80%;
  margin: 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 10%;
  width: 70%;
  height: 60%;
}
